body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  .hide {
    display: none;
  }
  
 

  #checkoutHeader {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: rgb(106, 193, 247);
  background-color: rgb(235, 250, 255);
  text-shadow: 2px 2px #e5d2d9;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  border: 5px solid rgb(100, 169, 215);
  }

  #wholeCheckout {
    box-sizing: border-box;
    border: 5px solid rgba(105, 177, 225, 0.466);
    height: 100%;
  }  

  .shopppingCart {
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
  }

  #orderInfo {
    display: inline-block;
    box-sizing: border-box;
    
    height: 459px;
  }

  #checkoutCart {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid rgba(181, 181, 181, 0.466);
    width: 100%;
    height: 200px;
  }

  #finalCheckout {
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .info {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 10px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px; 
  }

  #orderInfoHeader {
    font-family: roboto, sans-serif;
    text-align: center;
  }

  .lbl {
   font-family: roboto, sans-serif;
   font-size: 12px;
   font-weight: 700;
   padding-left: 10px;
  }

  #orderBtn {
    margin-top: 7px;
    margin-right: 10px;
    float: right;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 400;
    background-color: #4CAF50;
    color: whitesmoke;
    text-shadow: ;
    border: solid gray;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .orderSuccess-container {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    background-color: #4CAF50;
    border: 4px solid darkgreen;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }

  .orderFail-container {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    background-color: lightcoral;
    border: 4px solid darkred;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  

  @media (min-width: 480px) {

    #wholeCheckout {
        box-sizing: border-box;
        height: 100%;
    }

    #orderBtn {
        margin-right: 15px;
    }
  }

  @media (min-width: 780px) {

    #orderInfo {
        width: 100%;
        display: inline-block;
        height: 100vh;
    }
    .lbl {
        display: inline-block;
        padding-left: 13px;
        
    }

    .info {
        width: 98%;
        margin: 10px;
        padding: 12px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
    }

    

      
  }
  
  