.candy-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.candy-card {
  padding: 1rem;
  width: fit-content;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}
.candy-name {
  color: crimson;
  font-weight: bold;
}