.cart-modal {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.cart-modal-content {
    background-color: #fefefe;
    width: 40%;
    float: right;
    position: relative;
}

.display-none {
    display: none;
}

.x-mark-close {
    float: right;
    font-size: 25px;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
}

#cart-icon {
    cursor: pointer;
}

.cart-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    margin-right: 8px;
    margin-left: 10px;
}

.cart-item-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;

}

.cart-item {
    margin: 4px 0px;
    border-bottom: 1px solid lightgray;
}

#cartTitle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#GoToCheckout {
    font-family: 'Roboto', sans-serif;
    padding: 9px;
    font-size: 15px;
    position: absolute;
    background-color: white;
    border: 2px solid #4CAF50;
    bottom: 2px;
    right: 5px;
    cursor: pointer;
}

#GoToCheckout:hover {
    background-color: #4CAF50;
}

#GoToCheckout a {
    text-decoration: none;
    color: black;
}

#GoToCheckout a:hover {
    color: white;
}