body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

header {
  background-color: rgb(235, 250, 255);
  box-sizing: border-box;
  position: sticky;
  border: 5px solid rgb(100, 169, 215);
  width: 100%;
}

.mainHeader {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: rgb(106, 193, 247);
  background-color: rgb(235, 250, 255);
  text-shadow: 2px 2px #e5d2d9;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

#totStock {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  color: rgb(39, 49, 54);;
}

#allCandyDisplay {
  box-sizing: border-box;
  border: 5px solid rgba(105, 177, 225, 0.466);
  background-color: rgb(255, 255, 255);
}

.cart-box {
  position: relative;
  float: right;
  right: 10px;
  top: 18px;
}

#sortBtn {
  position: absolute;
  display: inline-block;
  background-color: white;
  color: rgb(147, 147, 147);
  font-size: 11px;
  float: left;
  top: 140px;
  padding-left: 10px;
  border: 1px solid white;
}

#underRubrik {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(91, 140, 180);
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.candy-stock {
  font-size: 13px;
}

.candy-stockstatus {
  font-size: 12px;
}

#candy {
  box-sizing: border-box;
  height: 100vh;
  display: relative;
  margin: auto;
  padding: 0;
}


@media (min-width: 480px) {

  .wholeHeader {
    height: 150px;
    border: 8px solid rgb(100, 169, 215);
  }

  .mainHeader {
    font-size: 60px;
    padding-top: 33px;
    color: rgb(106, 193, 247);
  }

  #underRubrik {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  #totStock {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgb(39, 49, 54);;
    padding-bottom: 20px;
  }

  #sortBtn {
    position: absolute;
    background-color: white;
    color: rgb(147, 147, 147);
    font-size: 14px;
    top: 170px;
    float: left;
    border: 1px solid white;
  }

  .cart-box {
    position: relative;
    float: right;
    right: 10px;
    top: 45px;
  }

  #allCandyDisplay {
    border: 8px solid rgba(105, 177, 225, 0.466);
}



@media (min-width: 780px) {
  .wholeHeader {
    height: 200px;
    border: 10px solid rgb(100, 169, 215);
  }

  .mainHeader {
    font-size: 50px;
    padding-top: 65px;
    color: rgb(106, 193, 247);
  }

  #sortBtn {
    position: absolute;
    float: left;
    top: 220px;
  }

  #underRubrik {
    font-size: 30px;
    padding-top: 35px;
  }

  .cart-box {
    float: right;
    position: absolute;
    top: 210px;
  }

  

  #allCandyDisplay {
    border: 10px solid rgba(105, 177, 225, 0.466);
}

}






