body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.hide {
  display: none;
}

header {
  background-color: rgb(235, 250, 255);
  box-sizing: border-box;
  position: sticky;
  border: 5px solid rgb(100, 169, 215);
  width: 100%;
}

.cart-box {
  position: absolute;
  left: 87%;
  top: 130px;
}

.mainHeader {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: rgb(249, 160, 209);
  background-color: rgb(235, 250, 255);
  text-shadow: 2px 2px #e5d2d9;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

#allCandyDisplay {
  box-sizing: border-box;
  border: 5px solid pink;
  background-color: rgb(255, 255, 255);
}

#sortBtn {
  position: absolute;
  display: inline-block;
  background-color: white;
  color: rgb(147, 147, 147);
  font-size: 11px;
  top: 130px;
  left: 10px;
  border: 1px solid white;

}


#underRubrik {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(91, 140, 180);
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.candy-stock {
  font-size: 13px;
}

.candy-stockstatus {
  font-size: 12px;
}

#candy {
  box-sizing: border-box;
  height: 100vh;
  display: relative;
  
  margin: auto;
  padding: 0;
}

@media (min-width: 480px) {

  .wholeHeader {
    height: 150px;
    border: 8px solid rgb(100, 169, 215);
  }

  .mainHeader {
    font-size: 60px;
    padding-top: 33px;
    color: rgb(249, 160, 209);
  }

  #underRubrik {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  #sortBtn {
    position: absolute;
    display: inline-block;
    background-color: white;
    color: rgb(147, 147, 147);
    font-size: 14px;
    top: 170px;
    left: 20px;
    border: 1px solid white;
  
  }

  .cart-box {
    top: 165px;
    left: 93%;
  }

  #allCandyDisplay {
    border: 8px solid pink;
}



@media (min-width: 780px) {
  .wholeHeader {
    height: 200px;
    border: 10px solid rgb(100, 169, 215);
  }

  .mainHeader {
    font-size: 50px;
    padding-top: 65px;
    color: rgb(249, 160, 209);
  }

  #sortBtn {
    top: 28%;
  }

  #underRubrik {
    font-size: 30px;
    padding-top: 35px;
  }

  .cart-box {
    padding-top: 100px;
    top: 130px;
    left: 95%;
    
  }

  #allCandyDisplay {
    border: 10px solid pink;
}
}






